<div><h2>You said:</h2><span>"<%= params[:question] %>"</span></div>

<div><h2>Your coach says:</h2><span>"<%= @answer %>"</span></div>

<%= link_to "Ask another question", ask_path, class: "button" %>

